.popup__close-button{
  grid-column-start: 2;
  grid-row-start: 1;
  width: 40.7px;
  height:40.7px;
  transform: rotate(45deg);
  border: none;
  background-color: #000;
  background:center url(../../../images/Close_Icon.svg);
  position: relative;
  align-self: end;
}


.popup__close-button:hover{
  cursor: pointer;
  opacity: .6;
  transition: .2s ease-in-out;
}

.popup__close-button:focus{
  outline: none;
}

@media screen and (max-width: 540px){
  .popup__close-button{
    width: 30.5px;
    height:30.5px;
  }
}

@media screen and (max-width: 400px){
  .popup__close-button{
    width: 22.8px;
    height:22.8px;
  }
}
