.popup__save-button_disabled{
  background-color: #fff!important;
  opacity: 0.2!important;
  color: #000!important;
  border: 1px solid #000!important;
  cursor:default!important;
  pointer-events: none!important;
}
